@model DoAnPhanMem.Models.DANHMUCDV

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layoutweb.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "DANHMUCDV", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DANHMUCDV</h4>
        <hr />
        @Html.HiddenFor(model => model.IDDM)

        <div class="form-group">
            @Html.LabelFor(model => model.TENDM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENDM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENDM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IMG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (!string.IsNullOrEmpty(Model.IMG))
                {
                    <img src="@Url.Content("~/Images/" + Model.IMG)" class="img-responsive" alt="Current Image" />
                }
                <input type="file" name="imgFile" class="form-control" />
                @Html.ValidationMessageFor(model => model.IMG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
