@model DoAnPhanMem.Models.DICHVU

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4>Dịch Vụ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Dịch Vụ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TENDV)
        </dd>

        <dt>
            Mô Tả
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            Hình Ảnh 1
        </dt>
        <dd>
            <img src="@Url.Content("~/Images/" + Model.IMG)" alt="Hình ảnh 1" style="max-width:200px; max-height:200px;" />
        </dd>

        <dt>
            Hình Ảnh 2
        </dt>
        <dd>
            <img src="@Url.Content("~/Images/" + Model.IMG2)" alt="Hình ảnh 2" style="max-width:200px; max-height:200px;" />
        </dd>

        <dt>
            Hình Ảnh 3
        </dt>
        <dd>
            <img src="@Url.Content("~/Images/" + Model.IMG3)" alt="Hình ảnh 3" style="max-width:200px; max-height:200px;" />
        </dd>

        <dt>
            Giá
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            Tổng Đánh Giá
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TONGDANHGIA)
        </dd>

        <dt>
            Đơn Vị Tính
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DONVITINH)
        </dd>

        <dt>
            Giảm Giá
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GIAMGIA)
        </dd>

        <dt>
            Danh Mục Dịch Vụ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DANHMUCDV.TENDM)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>

<style>
    .dl-horizontal dt {
        float: left;
        width: 150px;
        clear: left;
        text-align: left;
        font-weight: bold;
        color: #333;
    }

    .dl-horizontal dd {
        margin-left: 160px;
    }

    .form-actions {
        margin-top: 20px;
    }

    .btn-danger {
        background-color: #dc3545;
        color: white;
        border: none;
    }

        .btn-danger:hover {
            background-color: #c82333;
            color: white;
        }

    .btn-secondary {
        background-color: #6c757d;
        color: white;
        border: none;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            color: white;
        }
</style>
