
@model DoAnPhanMem.Models.DICHVU
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutweb.cshtml";
}
<style>
    .product-img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .thumbnail-img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        margin: 5px;
        cursor: pointer;
    }

    .rating {
        color: #ffcc00;
    }
    .dich-vu_gia {
        font-size: 30px;
        color: brown;
        font-style: italic;
        font-weight: 500;
    }
</style>

<div class="container mt-5">
    <!-- Breadcrumb -->

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a href="/Home/Dichvu">Chi tiết dịch vụ</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.TENDV</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/@Model.IMG" class="product-img img-fluid" id="mainImage" alt="@Model.TENDV">
            <div class="mt-2">
                <img src="~/Images/@Model.IMG" class="thumbnail-img" onclick="changeImage(this)">
                <img src="~/Images/@Model.IMG2" class="thumbnail-img" onclick="changeImage(this)">
                <img src="~/Images/@Model.IMG3" class="thumbnail-img" onclick="changeImage(this)">
            </div>
        </div>
        <div class="col-md-6">
            <h1>@Model.TENDV</h1>
            <p>@Model.MOTA</p>
            <h3 class="dich-vu_gia">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", Model.GIA)</h3>
            @if (Model.GIAMGIA.HasValue)
            {
                <h4>Khuyến mãi: @Model.GIAMGIA%</h4>
            }
            <p class="rating">
                @for (int i = 0; i < (int)Model.TONGDANHGIA; i++)
                {
                    <span>&#9733;</span>
                }
                @for (int i = (int)Model.TONGDANHGIA; i < 5; i++)
                {
                    <span>&#9734;</span>
                }
            </p>
            @*<p>Unit: @Model.DONVITINH</p>*@
            @*<button class="btn btn-primary">Add to Cart</button>*@
        </div>
    </div>


    <div class="row">
        @Html.Action("GetProduct", "SANPHAM")
    </div>
</div>


<script>
    function changeImage(element) {
        document.getElementById('mainImage').src = element.src;
    }
</script>