@model List<DoAnPhanMem.Models.LICHHEN>





@foreach (var item in Model)
{

    <div class="bg-white card mb-4 order-list shadow-sm">
        <div class="gold-members p-4">
            <a href="#">
            </a>
            <div class="media">
                <div class="media-body">
                    <a href="#">
                        <span class="float-right text-info">@item.NGAY - @item.THOIGIAN <i class="icofont-check-circled text-success"></i></span>
                    </a>
                    <h6 class="mb-2">
                        <a href="#"></a>
                        <a href="#" class="text-black">@item.KHACHHANG.TENKH</a>
                    </h6>
                    <p class="text-gray mb-1">
                        <i class="icofont-location-arrow"></i> Email: @item.EMAIL
                    </p>
                 
                    <p class="text-dark">
                        Ghi chú: @item.GHICHU
                    </p>
                    <hr>
                </div>
            </div>

        </div>
    </div>

}
